@tailwind base;
@tailwind components;
@tailwind utilities;



body {
    background-color: rgb(28, 28, 28);
}

.img-grad {
    -webkit-mask-image:-webkit-gradient(linear, right top, left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)))
}

.no-scroll {
    -ms-overflow-style: none;
    scrollbar-width: none; 
  }
.no-scroll::-webkit-scrollbar {
  display: none; 
}

.hid {
  opacity: 0;
  filter: blur(5px);
  transform: translateX(-100%);
  transition: all 1s;
}

.show {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
}