@tailwind base;
@tailwind components;
@tailwind utilities;



body {
    background-color: rgb(28, 28, 28);
}

.img-grad {
    -webkit-mask-image:-webkit-gradient(linear, right top, left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)))
}



/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #000000;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(251 191 36);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(187, 112, 37);
}

.project-cards::-webkit-scrollbar  {
  margin-top: 10px;
  height: 8px;
}
